@mixin f($s, $a) {
    display: flex;
    justify-content: $s;
    align-items: $a;
}


.thisComment {
    padding-top: 100px;

    .this_comment {
        @include f(space-between, center);

        button {
            background-color: #1E50AB;
            padding: 15px 25px;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            line-height: 150%;
            border: 0;
            cursor: pointer;
        }

    }

    .box {
        .swiper {
            width: 100%;

            .swiper-wrapper {
                width: 100%;
                padding: 30px 0;

                .swiper-slide {
                    @include f(start, center);
                    gap: 10px;
                    background-color: #1E50AB;
                    padding: 20px;
                    color: #fff;

                    .elem {
                        h4 {
                            font-size: 20px;
                            font-weight: 600;
                            margin-bottom: 20px;
                        }

                        p {
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 150%;
                            opacity: 0.6;
                        }
                    }
                }
            }
        }
    }
}
