{% extends 'main/layout.html' %}
{% load static %}



{% block style %}
<link rel="stylesheet" href="{% static 'scss/aboutStyle.css' %}">
{% endblock %}






{% block title %}
about
{% endblock %}







{% block content %}

<section class="aboutHome">
    <div class="cont">
        <h2 class="textGlav">
            О компании
        </h2>
        <p>
            ООО «MARIKON AUDIT» была зарегистрирована 20 апреля 2000 г. Министерстве Юстиции РУз за № 598. На протяжении
            многих лет, наша компания занимает высокие позиции и рейтинговые оценки, среди аудиторских компаний
            Узбекистана и постоянно входит в десятку лучших аудиторских компаний. Политика нашей организации нацелена на
            постоянное улучшение качества услуг, содействие и помощь клиентам, во всех вопросах финансово-хозяйственной
            деятельности, во время проведения аудита.
        </p>
        <br>
        <p>
            В организации работает 40 сотрудников,в том числе: 9 сертифицированных аудиторов, 3 Аудитора имеют
            сертификаты АССА, 2 специалиста DipIFR, которые являются специалистами в области составления финансовой
            отчётности в соответствии с МСФО, 16 ассистентов аудиторов, имеющих сертификаты САР, сертифицированный
            специалист по ценным бумагам и корпоративному управлению, юрист, специалисты по строительству, монополии,
            локализации и др. На сегодняшний день уставный фонд «MARIKON-AUDIT» составляет 5000 минимальных окладов, 90%
            которого составляют денежные средства а 10% — оборудование.
        </p>
        <br>
        <p>
            Мы несём полную ответственность за предоставленные услуги. Риски ООО «MARIKON AUDIT» застрахованы в
            страховой компании на сумму 2 000 000 000 (два миллиарда) сум.
        </p>
    </div>
</section>
<section class="aboutServices" id="aboutServices">
    <div class="cont">
        <h3>
            Услуги оказываемые ООО «MarikonAudit»:
        </h3>
        <li>Аудит финансовой отчетности;</li>
        <br>
        <li>Трансформация финансовой отчетности, в соответствии с МСФО;</li>
        <br>
        <li>Консультирование по вопросам хозяйственной деятельности, таможенного законодательства, бухучета и
            налогообложения</li>
        <br>
        <li>Оптимизация налогообложения предприятия;</li>
        <br>
        <li>Финансовый анализ деятельности предприятия;</li>
        <br>
        <li>Аудит правильности формирования уставного капитала;</li>
        <br>
        <li>Восстановление и ведение бухгалтерского учёта;</li>
        <br>
        <li>Аудит по специальному вопросу;</li>
        <br>
        <li>Оценка системы корпоративного управления;</li>
        <br>
        <li>Аудит закупок и закупочных процедур;</li>
        <br>
        <li>Разработка учётной политики (НСБУ и МСФО)</li>
        <br>
        <li>Разработка налоговой политики;</li>
        <br>
        <li>Разработка положения о документообороте;</li>
        <br>
        <li>Аудит ценных бумаг и инвестиционного пакета;</li>
        <br>
        <li>Due diligence (аудит приобретаемой компании);</li>
        <br>
        <li>Проведение инвентаризации активов;</li>
        <br>
        <li>Прочие услуги.</li>
    </div>
</section>
<section class="clientAbout" id="clientAbout">
    <div class="cont">
        <h3 class="text">Клиенты компании:</h3>
        <div class="box">
            <div class="block">
                <h3>Морские пути</h3>
                <p>
                    ГАЖК «Узбекистонтемирйуллари» (98 подразделений), ООО «O’ ztemiryolmashta’mir», Рельсосварочное
                    предприятие N 14, ССМП 406, АО «YUKTRANS», ДП Литейно-механический завод, Региональный
                    железнодорожный узел «Ташкент», Региональный железнодорожный узел «Бухара», Региональный
                    железнодорожный узел «Термез», Региональный железнодорожный узел «Коканд», Региональный
                    железнодорожный узел «Карши», Региональный железнодорожный узел «Кунград», АО «Узвагонтаъмир»
                </p>
            </div>
            <div class="block">
                <h3>Железная дорога</h3>
                <p>
                    ГАЖК «Узбекистонтемирйуллари» (98 подразделений), ООО «O’ ztemiryolmashta’mir», Рельсосварочное
                    предприятие N 14, ССМП 406, АО «YUKTRANS», ДП Литейно-механический завод, Региональный
                    железнодорожный узел «Ташкент», Региональный железнодорожный узел «Бухара», Региональный
                    железнодорожный узел «Термез», Региональный железнодорожный узел «Коканд», Региональный
                    железнодорожный узел «Карши», Региональный железнодорожный узел «Кунград», АО «Узвагонтаъмир»
                </p>
            </div>
            <div class="block asd">
                <h3>Железная дорога</h3>
                <p>
                    ГАЖК «Узбекистонтемирйуллари» (98 подразделений), ООО «O’ ztemiryolmashta’mir», Рельсосварочное
                    предприятие N 14, ССМП 406, АО «YUKTRANS», ДП Литейно-механический завод, Региональный
                    железнодорожный узел «Ташкент», Региональный железнодорожный узел «Бухара», Региональный
                    железнодорожный узел «Термез», Региональный железнодорожный узел «Коканд», Региональный
                    железнодорожный узел «Карши», Региональный железнодорожный узел «Кунград», АО «Узвагонтаъмир»
                </p>
            </div>
        </div>
    </div>
</section>
<section class="lists" id="lists">
    <div class="cont">
        <h2 class="textGlav" style="margin-bottom: 50px;">
            Наши сертификаты
        </h2>
        <div class="box">
            <img src="{% static 'img/list1.jpg' %}" alt="">
            <img src="{% static 'img/list2.jpg' %}" alt="">

        </div>
        <div class="myBox">
            <img src="{% static 'img/list3.jpg' %}" class="tr" alt="">
        </div>

    </div>
</section>
<section class="employees" id="employees">

    <div class="cont">
        <h2 class="textGlav" style="margin-bottom:50px ;">Наши сотрудники</h2>
        <div class="box my_creat_box">

        </div>
    </div>

</section>

<div class="employees_modal">
    <div class="box">
        <img src="{% static 'img/clouse.svg' %}" class="about_clouse" alt="">
        <div class="block">
            <h3 class="about_text"></h3>
            <p class="about_comments"></p>
        </div>
        <div class="block">
            <img src="{% static 'img/sert1.png' %}" class="about_img" alt="">
        </div>
    </div>
</div>


{% endblock %}


{% block script %}
<script src="{% static 'js/about.js' %}"></script>
{% endblock %}