{% extends 'main/layout.html' %}
{% load static %}



{% block style %}
<link rel="stylesheet" href="{% static 'scss/comments.css' %}">
{% endblock %}




{% block title %}
commit
{% endblock %}



<!-- ////////////////////////////////// -->

{% block content %}
<section class="thisComment">
    <div class="cont">
        <div class="this_comment">
            <h2 class="textGlav">Отзывы Компании</h2>
            <button class="oupenModlComment">Оставить отзыв</button>
        </div>
        <div class="box">
            <div class="block">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">

                        {% for i in arr %}
                        <div class="swiper-slide">
                            <div class="elem">
                                <img src="{% static 'img/user.svg' %}" alt="">
                            </div>
                            <div class="elem">
                                <h4>{{i.name}}</h4>
                                <p>
                                    {{i.full_text}}
                                </p>
                            </div>
                        </div>
                        {% endfor %}


                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modalComment">
    <div class="box">
        <img src="{% static 'img/clouse.svg' %}" class="clouseModalForms" alt="">
        <h2 class="textGlav">Добавить отзыв</h2>
        <form method="POST" action="">
            {% csrf_token %}
            {{form.name}}
            {{form.full_text}}
            <p>{{error}}</p>
            <button type="submit">Добавить</button>
        </form>
    </div>
</div>
{% endblock %}




{% block script %}
<script>
    new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 30,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
    });
    let modalComment = document.querySelector('.modalComment')
    let clouseModalForms = document.querySelector('.clouseModalForms')
    let oupenModlComment = document.querySelector('.oupenModlComment')
    oupenModlComment.onclick = () => {
        modalComment.classList.add('modalCommentActive')
    }
    clouseModalForms.onclick = () => {
        modalComment.classList.remove('modalCommentActive')
    }
</script>
{% endblock %}