{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="icon" href="{% static 'img/logo.svg' %}">
    <link rel="stylesheet" href="{% static 'scss/style.css' %}">
    {% block style %}

    {% endblock %}
    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}" id="urlBurger">Главная</a></li>
                <li><a href="{% url 'services' %}" id="urlBurger" data-hover="navServices">Услуги</a></li>
                <li><a href="{% url 'about' %}" id="urlBurger" data-hover="navAbout">О компании</a></li>
                <li><a href="{% url 'project' %}" id="urlBurger">Заключение</a></li>
                <li><a href="{% url 'news' %}" id="urlBurger">Новости</a></li>
                <li><a href="{% url 'stat' %}" id="urlBurger">Статьи</a></li>
                
                <li><a href="{% url 'comments' %}">Oтзывы</a></li>
            </ul>
            <ul>
                <li><a href="">+7 (342) 204-44-77</a></li>
            </ul>
            <ul>
                <li >
                    <img src="{% static 'img/menu.svg' %}" id="burgerMenu" alt="">
                </li>
            </ul>
        </nav>
    </header>


    <div class="navModlHover">
        <div class="navServices">
            
        </div>
        <div class="navServices1"></div>
        
    </div>


    <main>
        {% block content %}

        {% endblock %}
        <div class="burger" id="burgerMenubloc">
            <div class="box" id="burgerBox">
                <div class="logoBurger">
                    <img src="{% static 'img/logo.svg' %}" alt="">
                    <h3>KOMIL <br> ISHONCH</h3>
                </div>
                <div class="textBurger">
                    <a href="{% url 'home' %}">Главная</a>
                    <a href="{% url 'services' %}">Услуги</a>
                    <a href="{% url 'about' %}">о компании</a>
                    <a href="{% url 'project' %}">заключение</a>
                    <a href="{% url 'news' %}">статьи</a>
                    <a href="{% url 'stat' %}">статьи</a>
                    <a href="{% url 'comments' %}">Oтзывы</a>

                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="cont">
            <div class="box">
                <div class="block">
                    <div class="logo">
                        <img src="{% static 'img/logo.svg' %}" alt="">
                        <h4>KOMIL <br> ISHONCH</h4>
                    </div>
                    <div class="elem">
                        <a href=""><img src="{% static 'img/facebook.svg' %}" alt=""></a>
                        <a href=""><img src="{% static 'img/instagram.svg' %}" alt=""></a>
                        <a href=""><img src="{% static 'img/telegram.svg' %}" alt=""></a>
                    </div>

                </div>

                <div class="block" >
                    <a href="{% url 'home' %}">Главная</a>
                    <a href="{% url 'services' %}">Услуги</a>
                    <a href="{% url 'about' %}">о компании</a>
                    <a href="{% url 'project' %}">заключение</a>
                    <a href="{% url 'news' %}">статьи</a>
                    <a href="{% url 'stat' %}">статьи</a>
                    <a href="{% url 'comments' %}">Oтзывы</a>
                </div>

                <div class="block">
                    <a href="tel:+7 (342) 204-44-77"> +7 (342) 204-44-77 : tel </a>
                    <a href="mailto:korolt073@gmail.com"> korolt073@gmail.com : email </a>
                    <a href=""> улитца германа дом 20 : location </a>
                </div>
            </div>

        </div>
        <div class="theBloc">
            <div class="cont">
                <div class="myBlock">


                    <div class="elem">
                        <p>© 2023 Все права защищены</p>
                    </div>
                    <div class="elem">
                        <div class="block">
                            <p>Created by:</p>
                        </div>
                        <div class="block">
                            <a href="https://lcode.uz/ru/">
                                <img src="{% static 'img/myLogo.svg' %}" alt="">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer src="{% static 'js/script.js' %}"></script>
    {% block script %}
        
    {% endblock %}

</body>

</html>