{% extends 'main/layout.html' %}
{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'scss/projectStyle.css' %}">
{% endblock %}

{% block title %}
about
{% endblock %}

{% block content %}
<section class="project">
    <div class="cont">
        <h2 class="textGlav">
            Наши проекты
        </h2>
        <div class="box">
            <table>
                <thead>
                    <tr>
                        <th>№</th>
                        <th>СТИР</th>
                        <th>Ташкилотининг номи</th>
                        <th>Хлоса</th>
                        <th>Дата</th>
                    </tr>
                </thead>
                <tbody>
                    
    
                    {% for item in arr %}
                    <tr id="{{item.id}}">
                        <td>{{item.id}}</td>
                        <td>{{item.stir}}</td>
                        <td>{{item.names}}</td>
                        <td>{{item.text}}</td>
                        <td>{{item.data}}</td>
                    </tr>
                    {% endfor %}
                    
                    
    
                </tbody>
            </table>


            {% for item in arr %}
                <!-- <img src="media/{{item.img}}" alt="">   -->
            {% endfor %}
        </div>
        
    </div>
</section>
{% endblock %}