{% extends 'main/layout.html' %}
{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'scss/servicesStyle.css' %}">
{% endblock %}

{% block title %}
Услуги компании
{% endblock %}




{% block content %}


<section class="servicesHome">
    <div class="cont">
        <h2 class="textGlav">
            Услуги компании
        </h2>
        <div class="box">
            <div class="block " id="servicesBlock">

                <div class="title">
                    <div class="img">
                        <img src="{% static 'img/log.svg' %}" alt="">
                    </div>
                    <h4>Общая информация</h4>
                </div>
                <div class="myText myTextActive" id="servisText">
                    <p>
                        Надежная правовая защита
                        без затрат на содержание
                        собственного юридического
                        отдела
                    </p>
                </div>

            </div>
            <div class="block" id="servicesBlock">

                <div class="title">
                    <div class="img">
                        <img src="{% static 'img/log.svg' %}" alt="">
                    </div>
                    <h4>Общая информация</h4>
                </div>
                <div class="myText" id="servisText">
                    <p>
                        Надежная правовая защита
                        без затрат на содержание
                        собственного юридического
                        отдела
                    </p>
                </div>

            </div>
            <div class="block" id="servicesBlock">

                <div class="title">
                    <div class="img">
                        <img src="{% static 'img/log.svg' %}" alt="">
                    </div>
                    <h4>Общая информация</h4>
                </div>
                <div class="myText" id="servisText">
                    <p>
                        Надежная правовая защита
                        без затрат на содержание
                        собственного юридического
                        отдела
                    </p>
                </div>

            </div>
            <div class="block" id="servicesBlock">

                <div class="title">
                    <div class="img">
                        <img src="{% static 'img/log.svg' %}" alt="">
                    </div>
                    <h4>Общая информация</h4>
                </div>
                <div class="myText" id="servisText">
                    <p>
                        Надежная правовая защита
                        без затрат на содержание
                        собственного юридического
                        отдела
                    </p>
                </div>

            </div>
            <div class="block" id="servicesBlock">

                <div class="title">
                    <div class="img">
                        <img src="{% static 'img/log.svg' %}" alt="">
                    </div>
                    <h4>Общая информация</h4>
                </div>
                <div class="myText" id="servisText">
                    <p>
                        Надежная правовая защита
                        без затрат на содержание
                        собственного юридического
                        отдела
                    </p>
                </div>

            </div>
            <div class="block" id="servicesBlock">

                <div class="title">
                    <div class="img">
                        <img src="{% static 'img/log.svg' %}" alt="">
                    </div>
                    <h4>Общая информация</h4>
                </div>
                <div class="myText" id="servisText">
                    <p>
                        Надежная правовая защита
                        без затрат на содержание
                        собственного юридического
                        отдела
                        
                    </p>
                </div>

            </div>

        </div>
    </div>
</section>


{% endblock %}



{% block script %}
<script defer src="{% static 'js/servicesScript.js' %}"></script>
{% endblock %}