{% extends 'main/layout.html' %}
{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'scss/servicesStyle.css' %}">
{% endblock %}

{% block title %}
Услуги компании
{% endblock %}




{% block content %}


<section class="servicesHome">
    <div class="cont">
        <h2 class="textGlav">
            Услуги компании
        </h2>
        <div class="box myservicesbox">
            

        </div>
    </div>
</section>


{% endblock %}



{% block script %}
<script defer src="{% static 'js/servicesScript.js' %}"></script>
{% endblock %}